.card {
  width: 20rem;
  height: auto;
  background-color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 10px;
  margin-bottom: 20px;
}

.image-container {
  height: 300px;
  width: 100%;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.first {
  background-color: #ffffff;
  height: 70px;
  width: 100%;
}

.discount {
  background-color: #f7b500;
  color: #ffffff;
  padding: 5px;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  margin-right: 10px;
}

.wishlist {
  color: #4d4d4d;
  font-size: 20px;
}

.img-fluid {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.thumbnail-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.product-detail-container {
  width: 100%;
}

.dress-name {
  font-size: 18px;
  font-weight: 700;
}

.new-price {
  font-size: 18px;
  font-weight: 700;
}

.old-price {
  font-size: 14px;
  text-decoration: line-through;
  color: #7f8c8d;
}

.color-select {
  width: 100%;
  margin-right: 20px;
}

.item-size {
  background-color: #ffffff;
  color: #4d4d4d;
  border: 1px solid #4d4d4d;
  padding: 5px;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  margin-right: 10px;
}

.rating-star {
  color: #4d4d4d;
  font-size: 20px;
  margin-right: 10px;
}

.rating-number {
  font-size: 14px;
  font-weight: 700;
  color: #4d4d4d;
}

.buy {
  background-color: #f7b500;
  color: #ffffff;
  padding: 5px;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  float: right;
}

.voutchers {
  width: 100
}
